.todo-item-component-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background: #fff;
}

.todo-item-component-content .col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 50px;
}

.todo-item-component-content .col-1 .description {
  margin: 0 8px 12px 0;
  font-weight: 500;
  flex: 1;
}

.todo-item-component-content .col-1 .date-time {
  display: flex;
  flex-direction: row;
}

.todo-item-component-content .col-1 .date-time .date-expired {
  color: var(--color-error);
}

.todo-item-component-content .col-1 svg {
  margin-right: 4px;
}
.todo-item-component-content .col-1 .date,
.todo-item-component-content .col-1 .time {
  margin-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-item-component-content .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-item-component-content .col-2 svg {
  font-size: 1.1rem;
  transition: .5s;
}

.todo-item-component-content .col-2 svg:hover {
  cursor: pointer;
  color: var(--color-secondary);
}

@media(min-width: 601px) {
  .todo-item-component-content {
    width: calc(98%/3);
  }
}