.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  height: 35px;
}

@media (min-width: 601px) {
  .header-content {
    justify-content: flex-end;
  }

  .header-content > span {
    margin-right: 12px;
  }
}